<header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Log in</a></li>
        <li><a href="/logout">Log out</a></li>
    </ul>
</header>