<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="index.css">
    <meta name="description" content="find your match">
    <meta name="theme-color" content="#8E8EFC" />
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="./public/assets/img/icons/Favicons/favicon-192.png">
    <title>{{title}}</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/home">home</a>
                </li>
                <li>
                    <a href="/profile">profiel</a>
                </li>
                <li>
                    <a href="/logout">log uit</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
    {% block content %} {% endblock %}
    </main>
</body>

</html>