<h1>Welcome to MapMatcher</h1>
<h2>Find your travel companion</h2>
<p>Everyone always say that they:</p>
<ul class="bullets">
  <li>Like to do fun things</li>
  <li>Want to see exotic places</li>
  <li>Love to travel</li>
</ul>
<p>
  MapMatcher will show people what destination you want to travel to, let you
  see their favorite spot in the world and hopefully you will match and travel
  there together!
</p>
<a href="/register">Register</a>