<h1>Log in</h1>
<form action="/login" method="POST" onsubmit="login(this, event)">
  <fieldset>
    <legend>Login:</legend>
    <label>Username
      <input
        type="text"
        required
        name="username"
        placeholder="username"
      /></label>
    <label>Password
      <input type="password" required name="password" />
    </label>
    <span class="error-display"></span>
    <input type="submit" value="Log in" />
  </fieldset>
</form>
<script src="/js/ajaxRequests.js"></script>