<form action="/login" method="POST">
    <fieldset>
        <legend>Login:</legend>
        <label>Username<input type="text" placeholder="username"></label>
        <label>Password<input type="password"></label>
        <button>Log in</button>
    </fieldset>
</form>