<h1>You appear to be offline</h1>
<h2>Please continue once you have an internet connection</h2>
<p>You can go back to where you were by using your browser or click the button
  below to return home.
</p>
<a href="/">Back to home</a>