<h1>Overview</h1>
<p>Hi, {{{user._doc.name}}}</p>
<p id="counter">{{{userCounter content}}}</p>
<section id="mapContainer"></section>
<ul id="overview">
	{{{createOverview content}}}
</ul>
<script src="/js/createLeafletMap.js"></script>
{{{mapFunctionalities content false false}}}