<h2>Logged-in Home</h2>
<p>Hi, {{{user._doc.name}}}</p>
<p>Other users would like to go here:</p>
<section id="mapContainer"></section>
<script src="/js/createLeafletMap.js"></script>
{{{mapFunctionalities content false false}}}