<h1>Overview</h1>
<h2>Hi, {{{user._doc.name}}} !</h2>
<p id="counter">{{{userCounter content}}}
  would like to go to within ~250km of your favorite place</p>
<section id="mapContainer"></section>
<ul id="overview">
  {{{createOverview content}}}
</ul>
<script src="/js/createLeafletMap.js"></script>
{{{mapFunctionalities content false false}}}