{{#if err}}
	<p>{{err}}</p>
{{/if}}
<form action="/register" id="form" method="POST">
	<fieldset>
		<legend>Register:</legend>
		<label>Username
			<input type="text" required placeholder="username" name="username" />
		</label>
		<label>Password
			<input type="password" required name="password" /></label>
		<label>Name
			<input type="text" required placeholder="name" name="name" /></label>
		<label>Age
			<input
				type="number"
				min="18"
				max="100"
				required
				name="age"
				placeholder="age"
			/></label>
		<p>Where do you want to travel to?</p>
		<label id="latlabel">Latitude
			<input
				type="number"
				placeholder="52.3779"
				name="lat"
				id="lat"
				step="0.00000000000001"
				min="-90"
				max="90"
			/>
		</label>
		<label id="lnglabel">Longitude
			<input
				type="number"
				placeholder="4.9041"
				name="lng"
				id="lng"
				step="0.00000000000001"
				min="-180"
				max="180"
			/></label>
		<button>Register</button>
	</fieldset>
</form>
<script src="js/register.js"></script>