{{#if err}}
<p>{{err.message}}</p>
{{/if}}
<form action="/register" id="form" method="POST">
    <fieldset>
        <legend>Register:</legend>
        <label>Username<input type="text" placeholder="username" name="username"></label>
        <label>Password<input type="password" name="password"></label>
        <label>Name<input type="text" placeholder="name" name="name"></label>
        <label>Age<input type="number" name="age" placeholder="age"></label>
        <p>Where do you want to travel to?</p>
        <div id="mapid"></div>
        <button>Register</button>
    </fieldset>
</form>
<script src="js/register.js"></script>