<form action="/register" method="POST">
    <fieldset>
        <legend>Register:</legend>
        <label>Username<input type="text" placeholder="username" name="username"></label>
        <label>Password<input type="password" name="password"></label>
        <label>Age<input type="number" placeholder="age"></label>
        <label>Favorite colour<input type="color"></label>
        <button>Register</button>
    </fieldset>
</form>