/* VARIABLES */
$baseline: 1.2rem;
//
// $minScreen: 20rem;
// $maxScreen: 50rem;
// $minFont: .5rem;
// $maxFont: 2.3rem;
//
$h1: 3rem;
$h2: 2.2rem;
$h3: 1.75rem;
$h4: 1.375rem;
$h5: 1.3rem;
$h6: 1.25rem;
$p: 1.2rem;
$footer: 1rem;
$figcaption: 1.2rem;

$font-size-huge: 2.5rem;
$font-size-large: 1.875rem;
$font-size-medium: 1.225rem;
$font-size-default: 1rem;
$font-size-small: 0.625rem;


$border-radius: 5px;

$pink: #ece0ec;
$pinkshadow: rgb(236, 224, 236, 0.5);
$timeline: #D9C3D9;
$timelinedot: #E3E3FB;

// $purple: #754575;
$purple: rgb(142, 142, 252);
$purpleborder: rgba(142, 142, 252, 0.6);

$lilac: rgb(181, 130, 181);
$light-grey: #f1f1f1;
$lavender: #E6E6FA;
$lavenderbackground: rgba(230, 230, 250, 0.3);

$palevioletred: rgb(219, 112, 148);
$palevioletredborder: rgba(219, 112, 148, 0.6);

$warningpink: #d4114c;

$verylightpink:	#FFB6C1;
$lightpink: #ff9dab;
$darkpink: #78435E;

$grey: #ebecf0;
$antracite: #595959;
$antracitetransparant: rgba(89, 89, 89, 0.7);

$dark: #433a4b;

$aqua: #8efcfc;
$orange: #fcc58e;
$sweetpink: #fc8ec5;
