{% layout "base.liquid" %}
{% block content %}
    <header>
        <h1>Home</h1>
    </header>
    <section>
        <h2>Vind een nieuwe match!</h2>
        <button href="">Match</button>
    </section>
    <section>
        <h2>Jouw matches:</h2>
        <article></article>
    </section>
{% endblock %}