{% layout "base.liquid" %}
{% block content %}
<div class="login removescreen">
    <div class="login__background"></div>
    <div class="login__card">
        <h2>Weet je het zeker?</h2>
        <span class="form-err-message">{{ data }}</span>
        <h3 class="removetitle">Om te bevestigen dat je je account wil verwijderen, typ dan hieronder je wachtwoord in (<span>dit kan niet ongedaan worden gemaakt</span>):</h3>
        <form id="" action="/remove" method="POST">
            <label class="rmpasslabel" for="removePassword">Password</label>
            <input class="rmpass no-err" type="password" name="removePassword" id="removePassword" placeholder="Password">
            <button class="removeaccbutton">Verwijder account</button>
        </form>
        <a href="/profile">Cancel</a>
    </div>
</div>
{% endblock %}