{% layout "base.liquid" %}
{% block content %}
<div class="login">
    <div class="login_background"></div>
    <div class="login_card">
        <h2>Welkom, {{ data.userSignup }}!</h2>
        <h3>Je account is aangemaakt, je kan nu inloggen middels onderstaande button:</h3>
        <a href="/login">Log In</a>
    </div>
</div>
{% endblock %}
